* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("bgImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    max-width: 400px;
    width: 95%;
    min-height: 260px;
    margin: 100px auto;
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    caret-color: auto;
}

.loginText {
    color: rgb(213, 213, 213);
    text-align: center;
    margin-bottom: 10px;
}

.textInputLabels {
    color: rgb(213, 213, 213);
    margin-top: 10px;
    margin-bottom: 5px;
}

#username, #passwordInput {
    width: 65%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(182, 215, 238);
    display: block;
    border: none;
}

.loginBtn, .returnBtn, .logOutBtn {
    width: 20%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(182, 215, 238);
    color: rgb(58, 58, 58);
    margin: 15px;
    padding: 5px;
    border: none;
}

.message {
    color: rgb(213, 213, 213);
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.message::before {
    content: "!";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

.returnBtn {
    margin-top: 28px;
}

.createAccountLink {
    color: rgb(213, 213, 213);
    margin: 10px 0 10px 0;
}

.cAreturnLink {
    color: rgb(213, 213, 213);
    margin-bottom: 15px;
}

.headerCreateAccount {
    color: rgb(213, 213, 213);
    font-size:30px;
    margin-bottom: 22px;
}

.createLabels {
    color: rgb(213, 213, 213);
    margin-bottom: 5px;
}

#createUsername, #createPassword {
    margin-bottom: 15px;
    width: 65%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(182, 215, 238);
    display: block;
    border: none;
}

.createAccountBtn {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(182, 215, 238);
    color: rgb(58, 58, 58);
    margin: 1px 0 10px 0;
    padding: 5px;
    border: none;
}

.welcomeMessage {
    color:  rgb(213, 213, 213);
    text-align: center;
    margin-bottom: 150px;
}

.logOutText {
    color: #ff4d4d;
margin-top: 2px;
}

@media (max-width: 768px) {
    #root {
        margin: 50px auto;
    }
}

@media (max-width: 480px) {
    #root {
        margin: 50px auto;
        padding: 20px 10px;
    }

    #username, #passwordInput, #createUsername, #createPassword {
        width: 90%;
    }

    .textInputLabels, .createLabels {
        margin-left: 5%;
    }

    .loginBtn, .returnBtn, .logOutBtn, .createAccountBtn {
        width: 100%;
        max-width: 250px;
    }
}