* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(/bgImg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
    width: 400px;
    height: 260px;
    margin-top: 200px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.loginText {
    color: rgb(213, 213, 213);
    text-align: center;
    caret-color: transparent;
    margin-bottom: 15px;
}

.textInputLabels {
    color: rgb(213, 213, 213);
    margin-top: 20px;
    margin-bottom: 5px;
}

#username, #passwordInput {
    width: 65%;
    padding: 12px;
    margin-bottom: 1;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(182, 215, 238);
    display: block;
    border: none;
}

.loginBtn, .returnBtn {
    width: 20%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(182, 215, 238);
    color: rgb(58, 58, 58);
    margin: 20px;
    padding: 5px;
    border: none;
}

.message {
    color: rgb(213, 213, 213);
    text-align: center;
    margin: 5px;
    display: flex; /* Gör det lätt att centrera ikon + text */
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.message::before {
    content: "!";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ff4d4d; /* Röd färg */
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

.returnBtn {
    margin-top: 28px;
}